:root {
    --yellow: #e7a809;
    --text-color: #333;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* *******************************header Section start**************************************** */

.navbar {
    /* border: #333 solid 1px; */
    border-bottom: rgba(51, 51, 51, 0.2) inset 1px;
    box-shadow: 0 2px 5px rgba(203, 218, 225, 0.8);
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
    color: #fff;
    z-index: 1000;
    background-image: url('images/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-brand {
    color: var(--yellow);
    font-weight: 900;
}
.navbar i{
    font-size: 20px;
    border-radius: 10px;
    padding-top: 5px;
}
.navbar ul li{
    font-size: 14px;
    text-align: end;
    list-style-type: none;
}
.live_navbar{
    width: 30px
} 
/* *******************************header Section End**************************************** */

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}



/* Horizontal scroll handle End */

/* *******************************Side bar Section Start**************************************** */
.santo_sidebar {
    /* background: rgb(0, 0, 0); */
    background: linear-gradient(90deg, rgb(5, 4, 63), rgba(1, 6, 46));
    color: #fff;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.india_flag {
    width: 30%;
    border-radius: 33px;
}

select {
    /* appearance: none; */
    /* padding: 5px; */
    background: transparent;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

option {
    background: #333;
    color: #fff;
    /* Change the text color */
}

/* Style the selected text when highlighted */
select::selection {
    background: #333;
    color: #fff;
    /* Change the text color when selected */
}

.icons_name {
    display: inline-block;
}

.col-sm-12 {
    cursor: pointer;
}

.col-sm-12:hover {
    color: rgb(169, 239, 239);
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .circle-icon i {
        color: black;
        font-size: 0.9rem;
    }

    .icons_name {
        font-size: 10px;
    }

    .circle-icon {
        display: inline-block;
        background-color: var(--yellow);
        border-radius: 50%;
        padding: 3px 7px;
    }

    .category_section {
        text-align: center;
    }

    .santo_sidebar {
        padding: 25px 0.3vw;
        height: 90vh;
    }

    .icons_name {
        width: 99%;
    }

    .trendings {
        font-size: 2vw;
        font-weight: 600;
        color: var(--yellow);
        cursor: pointer;
    }

    .trending_topics {
        font-size: 1.9vw;
        cursor: pointer;
    }

    .product img {
        /* width: 100%; */
        /* height: auto; */
        width: 126px;
        height: 80px;
        border-radius: 10px;
    }

    .carousel-container {
        width: 100%;
    }

    .top_nes_heading,
    .top_news_topic {
        color: #fff;
        font-weight: 500;
        font-size: 11px;
        line-height: 8px;
    }

    .product {
        flex: 0 0 50%;
        /* Display four products at a time */

    }

    .top_news_desc {
        font-size: 11px;
        line-height: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .weather {
        width: 100%;
        display: inline-block;
        font-size: 11px !important;
    }
    
    .weather img{
        width: 30px !important;
    }
    #weather_condition{
        font-size: 10px !important;
    }

    .sport_card {
        width: 100%;
    }
    .mob_view{
        display: block;
    }
    .desk_view{
        display: none;
    }
    .live_tv_head img{
        width: 55px;
        margin: 0;
    }
    .live_tv_head{
        background-color: var(--yellow);
        animation: pulse 0.5s infinite alternate;        border-radius: 10px;
        margin: 0;
    }
    #temp_val{
        font-size: 20px;
    }
    .color_row{
        margin:0;
    }
}

@media only screen and (min-width: 768px) {
    .circle-icon i {
        color: black;
        font-size: 1.5rem;

    }
    .color_row{
        margin: 10px 20px;
    }
    .circle-icon {
        display: inline-block;
        background-color: var(--yellow);
        border-radius: 50%;
        padding: 10px;
    }

    .santo_sidebar {
        padding: 25px 1.4vw;
        height: 85vh;

    }

    .icons_name {
        width: 70%;
    }

    .trendings {
        font-size: 1.2vw;
        font-weight: 600;
        color: var(--yellow);
        cursor: pointer;
    }

    .trending_topics {
        font-size: 1.1vw;
        cursor: pointer;
    }

    .product img {
        /* width: 100%;
        height: auto; */
        width: 220px;
        height: 140px;
        border-radius: 10px;
        padding: 0;
    }

    .product {
        flex: 0 0 25%;
        /* Display four products at a time */
    }

    .weather {
        width: 100%;
    }

    .sport_card {
        width: 33.3%;
    }
    .mob_view{
        display: none !important;
    }
    .desk_view{
        display: block;
    }

}

/* *******************************Side bar Section End**************************************** */
/* *******************************Content Section Start**************************************** */

.content_section {
    margin-left: 20%;
    width: 80%;
}

i {
    /* color: rgb(0, 179, 255); */
    cursor: pointer;
}

i:hover {
    color: rgb(169, 239, 239);
    
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background: linear-gradient(90deg, rgb(3, 21, 45) 0%, rgb(10, 40, 100) 100%);
    color: white;
    margin: 10px auto;
    border-radius: 20px;
}

#weather_city {
    width: 25%;
    border: none;
    border-radius: 12px;
    padding: 3px 6px;
}

#weather_city_heading {
    max-width: 25%;
}

#weather_condition {
    margin: 0 !important;
    padding: 0;
    font-size: small;
}
.weather_container{
    --bs-gutter-x: 0.2rem;
}
.weather img {
    width: 3rem;
    border-radius: 30px;
    background-color: #033760;
}

.weather_data {
    line-height: 12px;
}

.temp_val {
    font-size: 2.5vw;
}

.color_row {
    background: linear-gradient(90deg, rgb(131, 198, 237, 0.5) 30%, rgba(228, 221, 145, 0.5) 70%);
    border-radius: 12px;
    box-shadow: 0 0 4px 2px rgba(152, 179, 187, 0.4);
}

.live_tv img {
    width: 100%;
    animation: pulse 0.5s infinite alternate;
    border-radius: 15px;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 4px 2px rgba(249, 67, 67, 0.6);
    }

    100% {
        box-shadow: 0 0 4px 3px rgba(241, 14, 14, 0.8);
    }

    /* 100% {
        box-shadow:0 0 3px 4px rgba(230, 55, 55, 0.3);
      } */
}

.top_headline {
    height: 3rem;
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

/* crousel se */
.carousel-container {
    position: relative;
    overflow: hidden;
    margin: 20px 3px;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product {
    box-sizing: border-box;
    background-color: var(--yellow);
}

.prev-button,
.next-button {
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 900;
}

.prev-button {
    left: -8px;
}

.next-button {
    right: -8px;
}

/* crousel tak */
.top_news {
    background-color: var(--yellow);
    border-radius: 6px;
}

figure {
    margin: 5px
}

.top_nes_heading,
.top_news_topic {
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.top_news_read {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
    text-decoration: underline;
}

.top_news_desc {
    margin-bottom: 5px;
}

/* Mid nes start */
.mid_news_main {
    /* background-color: #deebeb; */
    border-radius: 10px;
    box-shadow: 0 0 9px 2px rgb(159, 158, 158, 0.3);
}

.mid_news_side {
    /* background-color: #deebeb; */
    border-radius: 10px;
    box-shadow: 0 0 9px 2px rgb(159, 158, 158, 0.3);

}

.heading_list {
    height: 29rem;
    overflow: none;
    overflow-y: scroll;
}

.mid_news_img {
    width: 100%;
}

.bgheading_yellow {
    color: var(--yellow);
    font-weight: 600;

}

/* Mid nes End */
.sport_market span {
    padding: 0 10px;
}

.sport_card {
    padding: 5px;
    position: absolute;
    display: block;
    /* margin: 5px; */
    transition: 0.5s ease-in-out;
    background: linear-gradient(120deg, rgb(173, 221, 234, 0.3), rgb(240, 242, 132, 0.1));
    border-radius: 20px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.sport_card p {
    margin: 8px;
}
.prevs {
    position: absolute;
    left: 0.5%;
}
.slide_button {
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    top: 35%;
    /* padding: 0 5px; */
}
.slide_button:hover{
    font-size: 1.5rem;
    font-weight: 900;

}
.nexts {
    position: absolute;
    right: 3%;
}
.sport_row {
    position: relative;
    min-height: 190px;
    overflow: hidden;

}

.vedio_cont {
    display: inline-block;
    width: 47%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 9px 2px rgb(159, 158, 158, 0.3);
}
iframe{
    border-radius: 20px;
}

.smalltxt {
    font-size: small;
}

.smallpera {
    font-size: 14px;
}

.xsmallpera {
    font-size: 12px;
}


.gain_lose {
    margin: 2px 0;
    padding: 2px 1px;
    --bs-gutter-x: 0.3rem;
    background-color: rgba(155, 169, 173, 0.1);
    border-radius: 8px;
    /* box-shadow: 0 0 2px 2px rgb(152, 154, 155, 0.3); */
}

.gain_lose p {
    line-height: 10px;
    margin: 5px;
}

.gain_price {
    color: green;
    font-size: 11px;
}

.lose_price {
    color: red;
    font-size: 11px;
}

.sensex_row {
    box-shadow: 0 0 9px 2px rgb(159, 158, 158, 0.3);
    border-radius: 10px;
    --bs-gutter-x: 0.5rem;

}

.market_subhead {
    text-decoration: underline;
}

.market_subhead i {
    font-size: 18px;
}

/* news blog start********** */
.news_blog {
    background: linear-gradient(90deg, rgb(173, 221, 234, 0.5) 0%, rgb(240, 242, 132, 0.4) 100%);
    padding: 10px;
    margin: 10px 0;
}

.news_blog p {
    margin: 6px;
}

.news_blog img {
    width: 100%;
    border-radius: 5px;
}

.smyellowhead {
    color: var(--yellow);
    font-size: 17px;
    font-weight: 700;
}

.blog_subhead {
    font-weight: 700;
}

/* news blog end */
/* Recomended sec start */
.recomended {
    /* background: radial-gradient( rgb(173, 221, 234, 0.5) 0%, rgb(240, 242, 132, 0.4) 100%);; */
    padding: 5px;
    /* box-shadow: 0 0 5px 2px rgba(125, 145, 150, 0.4); */
}

.recomended img {
    width: 100%;
}

.recomended figure {
    box-shadow: 0 0 3px 2px rgba(125, 145, 150, 0.4);
    margin: 1px;
    padding: 10px;
    line-height: 19px;
    border-radius: 5px;
}

.recomended i {
    color: red;
}

/* Recomended sec end */
/* *******************************Content Section End**************************************** */

/* Footer start */
footer {
    /* background: var(--yellow); */
    background: linear-gradient(90deg, rgb(5, 4, 63), rgba(1, 6, 46));
    margin: 0;
    color: #000;
    text-align: center;
    width: 82%;
    float: right;
    color: #fff;
    padding-top: 10px;
}
footer ul{
    list-style-type: none;
}
footer i{
    font-size: 23px;
    padding: 0 10px;
    color: var(--yellow);
}

/* Footer end */